<article>
  <img id="accident" alt="accident" src="assets/img/accident.svg">
  <p>Il y a eu un total de <strong>{{ accidentsCount | numberFormatting }}</strong> accidents au Québec en 2015.</p>
  <p><strong>{{ fatalAccidentsCount | numberFormatting }}</strong> d'entre-eux ont été mortels.</p>
  <p><strong>{{ deadCount | numberFormatting }}</strong> personnes sont décédées.</p>
  <p class="reference">
    Image par <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> de
    <a href="http://www.flaticon.com" title="Flaticon" target="_blank">flaticon</a> /
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </p>
</article>
