<article>
  <div class="title-wrapper">
    <h1>Soyez prudent!</h1>
  </div>
  <div class="credits-wrapper">
    <h2>Programmeurs</h2>
    <ul>
      <li>Antoine Béland</li>
      <li>Konstantinos Lambrou-Latreille</li>
    </ul>
    <h2>Sources</h2>
    <ul>
      <li><a href="https://www.donneesquebec.ca/recherche/fr/dataset/rapports-d-accident/resource/5e970115-19f7-4dc7-8a20-13252b4ac5a1" target="_blank">Rapports d'accident pour l'année 2015</a></li>
      <li><a href="http://www.stat.gouv.qc.ca/statistiques/population-demographie/structure/mrc_total.htm" target="_blank">Population des régions et des MRC du Québec</a></li>
    </ul>
  </div>
</article>
