<nav>
  <ul class="navigation">
    <li data-menuanchor="home">
      <a href="#home">&bull;</a>
    </li>
    <li data-menuanchor="stats">
      <a href="#stats">&bull;</a>
    </li>
    <li data-menuanchor="when">
      <a href="#when">&bull;</a>
    </li>
    <li data-menuanchor="where">
      <a href="#where">&bull;</a>
    </li>
    <li data-menuanchor="who">
      <a href="#who">&bull;</a>
    </li>
    <li data-menuanchor="final">
      <a href="#final">&bull;</a>
    </li>
  </ul>
</nav>
