body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  min-height: 100%;
  color: #404041;
}

.white-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
}

.loading-panel {
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  line-height: 0;
  text-align: center;
}

.loading-panel > span {
  margin-top: -40px;
}

/** Style de base **/
article {
  position: relative;
  height: calc(100vh - 40px);
  padding: 0 40px;
  margin-top: 40px;
  background-color: white;
}

article h1 {
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Alegreya', serif;
  font-size: 3em;
  font-weight: 400;
}

article p {
  font-size: 1.2em;
}

article a {
  color: #337ab7;
  text-decoration: none;
}

article .reference {
  position: absolute;
  right: 40px;
  bottom: 5px;
  font-size: 0.65em;
}

.justify {
  text-align: justify;
}

/** Style pour les vues avec visualisations **/
article.reduced {
  width: 80%;
  padding: 0;
}

article > .article-margin {
  margin-left: 40px;
  margin-right: 20px;
}

.graphics-wrapper {
  position: absolute;
  top: 180px;
  right: 20px;
  bottom: 20px;
  left: 40px;
  text-align: center;
}
